:root {
  --color-moderate-violet: hsl(263, 55%, 52%);
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-blackish-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 81%);
  --color-grayish-blue: hsl(210, 46%, 95%);
  --border-moderate-violet: hsl(263, 87%, 69%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == laptop-portrait {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == laptop-landscape {
    @media only screen and (min-width: 75em) {
      @content;
    }
  }
}

@font-face {
  font-family: customFontMedium;
  src: url("../assets/fonts/BarlowSemiCondensed-Medium.woff");
}

@font-face {
  font-family: customFontBold;
  src: url("../assets/fonts/BarlowSemiCondensed-SemiBold.woff");
}

body {
  background-color: var(--color-grayish-blue);
  font-family: customFontMedium, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  max-width: 68.75rem;
  margin: 4rem 0;

  @include respond(laptop-landscape) {
    margin: 0;
    width: 100%;
  }
}

.testimonial__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  border-radius: 100%;
  width: 40px;
  height: 40px;

  @include respond(laptop-landscape) {
    width: 30px;
    height: 30px;
  }
}

.rounded {
  border: 3px solid var(--border-moderate-violet);

  @include respond(laptop-landscape) {
    border-width: 2px;
  }
}

.testimonial__info {
  color: var(--color-grayish-blue);
  display: flex;
  flex-direction: column;
  line-height: 17px;
}

.testimonial__name {
  font-size: 0.875rem;
  font-weight: 300;
}

.testimonial__verified {
  font-size: 0.813rem;
  opacity: 50%;
}

.testimonial__quote {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include respond(laptop-landscape) {
    justify-content: space-between;
    gap: 0;
  }
}

.testimonial__reviews {
  color: var(--color-white);
}

.testimonial__reviews__highlighted {
  font-size: 1.25rem;
  font-family: customFontBold, sans-serif;
  line-height: 25px;
}

.testimonial__reviews__opac {
  font-size: 0.813rem;
  opacity: 70%;
}

// 3 - 4
.text__info {
  color: var(--color-dark-grayish-blue);
  display: flex;
  flex-direction: column;
  line-height: 17px;
}

.text__reviews {
  color: var(--color-dark-grayish-blue);
}
